Django
django-livereload-server
djangorestframework
ipython
psycopg2-binary
python-dotenv
django-redis
Pillow
model_bakery
coverage
cryptography
PyYAML
uritemplate
gunicorn
uvicorn
daphne
wagtail
whitenoise
httpx
elasticsearch>=6.4.0,<7.0.0
